<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="luoyt"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="container" style="height: 1500px;border: 1px solid #eeeeee;">


    <div class="btn btn-primary">111</div>


</div>


<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>